/* The standard CSS for doxygen 1.8.16 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.googleapis.com/css?family=Open+Sans:400);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.googleapis.com/css?family=Open+Sans:600);
}

body {
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin: 0;
    padding: 0
}

body, table, div, p, dl, input, select, textarea, button {
	font-family: 'Open Sans', sans-serif;
}

p.reference, p.definition {
	font: 400 14px/22px;
}


div.header {
	margin: 0 2em 2em 2em;
	padding: 1em 0 0 0;
	display: table;
	/*width: 100%; */
}

div.header div.headertitle {
	display: table-header-group;
}

div.header div.summary {
	display: table-row-group;
}

div.summary {
	margin-bottom: 1em;
}

div.contents {
	margin: 1em 2em 1em 2em;
	min-height: 20em;
}

div.contents>* {
	max-width: 60em;
}

div.textblock {
	margin: 0.5em 0;
}

.icon {
	padding: 0 1em;
}

dl.note {
	padding: 0 0 0 0.5em;
	border-left: 0.25em solid #189;
}

dl.warning {
	padding: 0 0 0 0.5em;
	border-left: 0.25em solid #c00;
}

div.title > div.ingroups:before {
    content: "In module: ";
}

div.title > div.ingroups {
    padding-left: 1em;
}

div.title > div.ingroups {
    font-size: 60%;
    font-weight: normal;
}

/* @group Heading Levels */

img {
    border: 0;
}

b {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 0.5em 0;
    color: #333
}

h1, div.title {
	font-size: 1.8em;
	padding: 0 0 0.5em 0;
	font-weight: 600;
	color: #333;
	outline-color: rgb(51, 51, 51);
	outline-style: none;
	outline-width: 0px;
	text-decoration: none;
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.4em;
    position: relative
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1em
}

h6 {
    font-size: 1em
}

p {
    margin: 0 0 1em 0;
    max-width: 60em
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 1em
}

ul>li {
    list-style-type: none;
    background: url(ulCircle.png) no-repeat 0 0.5em;
    padding-left: 0.6em;
    margin: 0 0 0.5em 0
}

ul>li ul li {
    background: url(ulDash.gif) no-repeat 0 0.7em;
    padding-left: 0.5em
}

ol {
    padding: 0;
    margin: 0 0 1em 2.3em
}

ol>li {
    margin: 0 0 0.5em 0
}

ul ul, ol ul, ul ol, ol ol {
    margin-top: 0.5em;
    margin-bottom: 0
}

sup, sub {
    position: relative;
    font-size: 0.7em;
    top: -0.3em;
    vertical-align: baseline
}

sub {
    top: 0.3em
}

hr {
    border: 0;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1em
}

dt {
	font-weight: 600;
}

div.multicol {
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
	margin-top: 2px;
}

p.endli {
	margin-bottom: 0px;
}

p.enddd {
	margin-bottom: 4px;
}

p.endtd {
	margin-bottom: 2px;
}

/* @end */

caption {
	font-weight: bold;
}

span.legend {
        font-size: 70%;
        text-align: center;
}

h3.version {
        font-size: 90%;
		padding-bottom:10px;
		border-bottom:1px dotted #E0E0E0;
}

div.qindex, div.navtab{
	/*background-color: #AAA;
	border-bottom: 1px solid #AAA;
	text-align: center;
	margin: 2px;
	padding: 2px;*/

	background: #156;
	padding: 1em;
	text-align: center;
	color: #C0C0C0;
}

div.qindex a.qindex, div.navtab a {
	color:#fff;
}

div.qindex {
	width: 100%;
	line-height: 140%;
}



div.navpath
{
   	padding: 0.2em 2rem;
   	float: none;
   	font-size:0.9em;
  	font-weight: 400;
  	clear:both;
}

div.navpath ul {
	display: inline;
	list-style-type: none;
}

li.navelem {
	padding: 0;
	display: inline;
}

div.navpath > ul > li.navelem + li.navelem:before {
	content: " / ";
/*	display: inline;*/
}

div#navrow4.tabs3 {
	margin: 1em 3%;
	padding: 0.2em 2rem;
	background: #156;
	/*padding: 1em;*/
	text-align: center;
	color: #FFF;
	font-weight: bold;
}

div#navrow4.tabs3 ul li {
	display: inline;
}

div#navrow4 ul.tablist li + li:before{
	content: "|";
	color: #c0c0c0;
}

div#navrow4.tabs3 ul li a {
	width: 400%;
	text-align: center;
	color: #fff;
	margin: 0 0.4em;
}

div#navrow4.tabs3 ul li.current a {
	font-weight: normal;
	color: #c0c0c0;
}

div.navpath ul, div#navrow4.tabs3 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.navtab {
	margin-right: 15px;
}

div.toc {
	border: 1px solid #c00;
	float: right;
	padding: 1em;
	margin: 0 0 1em 1em;
}

div.toc ul {
	padding: 0;
	margin: 0;
}

div.toc>h3 {
	padding: 0 0.3em;
	margin: -1.6em 0 0 -0.3em;
	background: #FFF;
	float: left;
}

div.toc ul ul {
	margin: 0.5em 0 0 0;
}

div.toc li.level1 {
	padding: 0;
	margin: 0;
	background: none;
}

div.toc li.level2 {
	background: none;
}

div.toc li.level1>a {
	font-weight: bold;
}

div.toc li li {
	font-weight: normal;
	padding: 0 0 0 1em;
	margin: 0 0 0.5em 0;
}

div.toc a {
	color: #333;
}

div.toc a:visited {
	color: #333;
}

/* @group Link Styling */

.contents a {
	/*color: #153788;*/
	color: #189;
	font-weight: normal;
	text-decoration: none;
}

.contents a:visited {
/*	color: #1b77c5;*/
	color: #a66;
}

a:hover {
	text-decoration: underline;
}

a.qindex {
	font-weight: bold;
}

a.qindexHL {
	font-weight: bold;
	/*background-color: #AAA;*/
	color: #ffffff;
	border: 1px double #AAA;
}

.contents a.qindexHL:visited {
        color: #ffffff;
}

a.el {
	/*font-weight: bold;*/
}

a.elRef {
}

a.code {
	color: #3030f0;
}

a.codeRef {
	color: #3030f0;
}

/* @end */

dl.el {
	margin-left: -1cm;
}

.fragment {
	font-family: monospace, fixed;
	font-size: 105%;
}

pre.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	overflow: auto;
	word-wrap: break-word;
	font-size:  9pt;
	line-height: 125%;
}

div.line {
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    line-height: 1.0;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap; /* Moz */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3  */
    word-wrap: break-word;      /* IE 5.5+ */
    text-indent: -53px;
    padding-left: 53px;
    padding-bottom: 0px;
    margin: 0px;
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color, box-shadow;
    -moz-transition-duration: 0.5s;
    -ms-transition-property: background-color, box-shadow;
    -ms-transition-duration: 0.5s;
    -o-transition-property: background-color, box-shadow;
    -o-transition-duration: 0.5s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}

div.ah {
	background-color: #555;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

td.indexkey {
	background-color: #F1F5F9;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	margin: 2px 0px 2px 0;
	padding: 2px 10px;
}

td.indexvalue {
	background-color: #F1F5F9;
	border: 1px solid #CCCCCC;
	padding: 2px 10px;
	margin: 2px 0px;
}

tr.memlist {
	background-color: #f0f0f0;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
	
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
}

div.center img {
	border: 0px;
}

img.footer {
	border: 0px;
	vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit { 
	color: #ff00ff 
}

span.vhdlchar { 
	color: #000000 
}

span.vhdlkeyword { 
	color: #700070 
}

span.vhdllogic { 
	color: #ff0000 
}

/* @end */

.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
	-webkit-appearance: textfield;
	background-color: white;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #84b0c7;
}

th.dirtab {
	background: #F1F5F9;
	font-weight: bold;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: #FAFAFA;
	border: none;
	margin: 4px;
	padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
	padding: 0px 8px 4px 8px;
	color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
	border-top: 1px solid #ccc;
	background-color: #F9F9F9;
}

.memItemLeft, .memTemplItemLeft {
        white-space: nowrap;
}

.memTemplParams {
	color: #606060;
        white-space: nowrap;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
	font-size: 80%;
	color: #606060;
	font-weight: normal;
	margin-left: 3px;
}

.memnav {
	background-color: #F1F5F9;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.memitem {
	padding: 0;
	margin-bottom: 30px;
}

.memname {
	white-space: nowrap;
	font-weight: bold;
	/*color:#42657B;*/
	padding:3px 5px;
}

.memproto, .memdoc {
	border: 1px dotted #E0E0E0;
}

.memproto {
	padding: 0;
	background-color: #F9F9F9;
	font-weight: bold;
    /*    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;*/

}

.memdoc {
	padding: 2px 20px 20px;
	background-color: #FFFFFF;
	border-top-width: 0;
    /*    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;*/
}

span.arrow {
    width: 16px !important;
    display: inline-block !important;
}
/*
table.directory tr > td.entry > span:first-child {
    display: none !important;
}
*/


.memdoc > p {
    margin: 1em 0 0 0;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	/*color: #885656;*/
	white-space: nowrap;
}
.paramname em {
	font-style: normal;
}

/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree {
	font-family: sans-serif;
	margin: 0.5em;
}

/* these are for tree view when used as main index */

.directory {
	font-size: 9pt;
	font-weight: bold;
}

.directory h3 {
	margin: 0px;
	margin-top: 1em;
	font-size: 11pt;
}

/*
The following two styles can be used to replace the root node title
with an image of your choice.  Simply uncomment the next two styles,
specify the name of your image and be sure to set 'height' to the
proper pixel height of your image.
*/

/*
.directory h3.swap {
	height: 61px;
	background-repeat: no-repeat;
	background-image: url("yourimage.gif");
}
.directory h3.swap span {
	display: none;
}
*/

.directory > h3 {
	margin-top: 0;
}

.directory p {
	margin: 0px;
	white-space: nowrap;
}

.directory div {
	display: none;
	margin: 0px;
}

.directory img {
	vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
	font-size: 100%;
	font-weight: bold;
}

.directory-alt h3 {
	margin: 0px;
	margin-top: 1em;
	font-size: 11pt;
}

.directory-alt > h3 {
	margin-top: 0;
}

.directory-alt p {
	margin: 0px;
	white-space: nowrap;
}

.directory-alt div {
	display: none;
	margin: 0px;
}

.directory-alt img {
	vertical-align: -30%;
}

/* @end */

address {
	font-style: normal;
	color: #333;
}

table.doxtable {
	border-collapse: collapse;
	margin: 1em 0;
}

table.doxtable td, table.doxtable th {
	border: 1px solid #e0e0e0;
	padding: 0.5em;
}

table.doxtable th {
	background: #f0f0f0;
	color: #333;
	font-size: 110%;
}

/*
hr {
	border-top:1px dotted #E0E0E0;
	border-bottom:1px dotted #E0E0E0;
	margin-top:30px;
	padding-top:10px;
}*/

h1 {
	margin-top:0;
}
.contents .dynsection {
	margin-top:10px;
}

/*	Header	*/
div #titlearea {
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 14px;
	padding-bottom: 14px;
}

div #titlearea table {
	width: 100%;
}

div #titlearea table tbody tr {
	height: auto !important;
}

td #projectlogo {
	width: 280px;
}

div #projectname {
	text-align: right;
	font-size: 14px;
}

hr.footer {
	display: none;
}

address.footer {
	clear: both;
	color: #b0b0b0;
	font-size: 0.9em;
	padding: 1em 2em;
	padding: 1em 2rem;
	border-top: 1px solid #e0e0e0;
	background: #fff;
}

address.footer a img {
	visibility: hidden;
}

address.footer a img[alt] {
	visibility: visible;
}

#MSearchField {
	
}
